#
# https://help.github.com/articles/dealing-with-line-endings/
#

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Linux start script should use lf
/gradlew        text eol=lf

# These are Windows script files and should use crlf
*.bat           text eol=crlf

*.png binary
*.jpg binary
*.gif binary