<!--b nav:firstRange--><a href="{{v nav:route/}}">&laquo; first</a><!--/b-->
<!--b nav:firstRange:disabled--><span class="crud-disabled">&laquo; first</span><!--/b-->
<!--b nav:previousRange--><a href="{{v nav:route/}}">previous</a><!--/b-->
<!--b nav:previousRange:disabled--><span class="crud-disabled">previous</span><!--/b-->
<!--b nav:absoluteRange--> <a href="{{v nav:route/}}"><!--v absoluteRangeText/--></a><!--/b-->
<!--b nav:absoluteRange:disabled--> <span class="crud-disabled"><!--v absoluteRangeText/--></span><!--/b-->
<!--b nav:nextRange--><a href="{{v nav:route/}}">next</a><!--/b-->
<!--b nav:nextRange:disabled--><span class="crud-disabled">next</span><!--/b-->
<!--b nav:lastRange--><a href="{{v nav:route/}}">last &raquo;</a><!--/b-->
<!--b nav:lastRange:disabled--><span class="crud-disabled">last &raquo;</span><!--/b-->
<!--b content--><!--v nav:firstRange/--> <!--v nav:previousRange/--> <!--v nav:absoluteRanges/--> <!--v nav:nextRange/--> <!--v nav:lastRange/--><!--/b-->
