<!--b value--> value="{{v value}}{{/v}}"<!--/b-->
<!--b minlength--> minlength="{{v minlength/}}"<!--/b-->
<!--b maxlength--> maxlength="{{v maxlength/}}"<!--/b-->
<!--b required--> required="required"<!--/b-->
<!--b checked--> checked="checked"<!--/b-->
<!--b selected--> selected="selected"<!--/b-->
<!--b disabled--> disabled="disabled"<!--/b-->
<!--b form:hidden:--><input type="hidden" name="{{v name/}}"{{v attributes}}{{/v}} /><!--/b-->
<!--b form:input:--><input type="text" name="{{v name/}}"{{v attributes}}{{/v}} /><!--/b-->
<!--b form:email:--><input type="email" name="{{v name/}}"{{v attributes}}{{/v}} /><!--/b-->
<!--b form:url:--><input type="url" name="{{v name/}}"{{v attributes}}{{/v}} /><!--/b-->
<!--b form:secret:--><input type="password" name="{{v name/}}"{{v attributes}}{{/v}} /><!--/b-->
<!--b form:textarea:--><textarea name="{{v name/}}"{{v attributes}}{{/v}}><!--v value--><!--/v--></textarea><!--/b-->
<!--b form:radio:--><input type="radio" name="{{v name/}}"{{v attributes}}{{/v}} /><!--/b-->
<!--b form:checkbox:--><input type="checkbox" name="{{v name/}}"{{v attributes}}{{/v}} /><!--/b-->
<!--b form:select:--><select name="{{v name/}}"{{v attributes}}{{/v}}><!--v options--><!--/v--></select><!--/b-->
<!--b form:option:--><option value="{{v value/}}"{{v attributes}}{{/v}}><!--v label--><!--/v--></option><!--/b-->
<!--b form:display:--><div{{v attributes}}{{/v}}><!--v value--><!--/v--></div><!--/b-->
