<!--v auth:id0-->not authenticated<!--/v-->
<!--v auth:id1-->not matching login1<!--/v-->
<!--v auth:id2-->not matching login3<!--/v-->
<!--v auth:id3-->not matching role1<!--/v-->
<!--v auth:id4-->not matching role2<!--/v-->
<!--v auth:id5-->not matching role3<!--/v-->
<!--v cookie:authId--><!--/v-->
<!--b auth:id0-->authenticated<!--/b-->
<!--b auth:id1::login:guest-->matching login1<!--/b-->
<!--b auth:id1::login:jdevin-->matching login2<!--/b-->
<!--b auth:id2::login:unknownUser-->matching login3<!--/b-->
<!--b auth:id3::role:admin-->matching role1<!--/b-->
<!--b auth:id4::role:maint-->matching role2<!--/b-->
<!--b auth:id5::role:unknownRole-->matching role3<!--/b-->
