<input type="text" name="prefix_login" size="10" value="ikke" />
<input type="password" name="prefix_password" size="10" />
<textarea name="prefix_comment" cols="10" rows="5">&eacute;&eacute;n comment</textarea>
<input type="radio" name="prefix_question" alt="sometext" />



<input type="checkbox" name="prefix_options" alt="someblurp" />



<input type="checkbox" name="prefix_invoice" alt="atext" checked="checked" />I want an invoice
<select name="prefix_colors" size="3" multiple="multiple"><option value="red" selected="selected">red spots</option><option value="blue">blue spots</option><option value="green" selected="selected">green spots</option></select>



<input type="hidden" name="prefix_hidden" id="thehiddenone" value="canyouseeme" />
<select name="prefix_yourcolors"></select>
<input type="text" name="prefix_email" size="20" value="my@email.com" />
<input type="text" name="prefix_url" size="40" value="https://rife2.com" />
