<!--v form:input:prefix_login-->  size="10" <!--/v-->
<!--v form:secret:prefix_password-->size="10"     <!--/v-->
<!--v form:textarea:prefix_comment--> cols="10" rows="5"   <!--/v-->
<!--v form:radio:prefix_question-->  alt="sometext" <!--/v-->
<!--b form:label:prefix_question:a0-->answer0<!--/b-->
<!--b form:label:prefix_question:a1-->answer1<!--/b-->
<!--b form:label:prefix_question:a2-->answer2<!--/b-->
<!--v form:checkbox:prefix_options-->  alt="someblurp" <!--/v-->
<!--b form:label:prefix_options:0-->option0<!--/b-->
<!--b form:label:prefix_options:1-->option1<!--/b-->
<!--b form:label:prefix_options:2-->option2<!--/b-->
<!--v form:checkbox:prefix_invoice-->  alt="atext" <!--/v-->I want an invoice
<!--v form:select:prefix_colors-->size="3" multiple="multiple"<!--/v-->
<!--b form:label:prefix_colors:blue-->blue spots<!--/b-->
<!--b form:label:prefix_colors:red-->red spots<!--/b-->
<!--b form:label:prefix_colors:green-->green spots<!--/b-->
<!--v form:hidden:prefix_hidden-->  id="thehiddenone" <!--/v-->
<!--v form:select:prefix_yourcolors-->size="2" multiple="multiple"<!--/v-->
<!--v form:input:prefix_email-->  size="20" <!--/v-->
<!--v form:input:prefix_url-->  size="40" <!--/v-->
