<!--v form:input:templatenamelogin-->  size="10" <!--/v-->

<!--v form:secret:templatenamepassword/--><!--bv form:secret:templatenamepassword-->size="10"     <!--/bv-->

<!--v form:textarea:templatenamecomment/--><!--b form:textarea:attributes:templatenamecomment--> cols="10" rows="5" id="{{v form:name/}}{{v form:value/}}"   <!--/b-->

<!--v form:radio:templatenamequestion/--><!--b form:radio:attributes:templatenamequestion-->  alt="sometext" id="{{v form:name/}}{{v form:value/}}"<!--/b-->
<!--b form:label:templatenamequestion:a0-->answer0<!--/b-->
<!--b form:label:templatenamequestion:a1-->answer1<!--/b-->
<!--b form:label:templatenamequestion:a2-->answer2<!--/b-->









<!--v form:radio:templatenameanothercustomquestion/-->
<!--b form:radio:templatenameanothercustomquestion--><!--v form:name/-->-<!--v form:value/-->:<!--v form:label-->???<!--/v--> : <!--v form:field/--><!--/b-->
<!--b form:label:templatenameanothercustomquestion:a0-->anothercustom answer 0<!--/b-->
<!--b form:label:templatenameanothercustomquestion:a1-->anothercustom answer 1<!--/b-->
<!--b form:label:templatenameanothercustomquestion:a2-->anothercustom answer 2<!--/b-->
<!--v form:checkbox:templatenameoptions-->  alt="someblurp" <!--/v-->
<!--b form:label:templatenameoptions:0-->option0<!--/b-->
<!--b form:label:templatenameoptions:1-->option1<!--/b-->
<!--b form:label:templatenameoptions:2-->option2<!--/b-->









<!--v form:checkbox:templatenameothercustomoptions/-->
<!--b form:checkbox:templatenameothercustomoptions--><!--v form:label-->???<!--/v--> : <!--v form:field/--><!--/b-->
<!--b form:label:templatenameothercustomoptions:0-->othercustom option 0<!--/b-->
<!--b form:label:templatenameothercustomoptions:1-->othercustom option 1<!--/b-->
<!--b form:label:templatenameothercustomoptions:2-->othercustom option 2<!--/b-->
<!--v form:checkbox:templatenameinvoice-->  alt="atext" <!--/v-->I want an invoice

<!--v form:select:templatenamecolors-->size="3" multiple="multiple"<!--/v-->
<!--b form:label:templatenamecolors:blue-->blue spots<!--/b-->
<!--b form:label:templatenamecolors:red-->red spots<!--/b-->
<!--b form:label:templatenamecolors:green-->green spots<!--/b-->




<!--v form:hidden:templatenamehidden-->  id="thehiddenone" <!--/v-->

<!--v form:display:templatenamelogin-->  class="thedisplayedone" <!--/v-->

<!--v form:display:templatenamequestion/-->
<!--v form:display:templatenameoptions/--><!--b form:display:attributes:templatenameoptions-->  id="{{v form:name/}}{{v form:value/}}" <!--/b-->
<!--v form:display:templatenamecolors/-->

