<!--b nav:firstRange--><a href="{{v nav:route/}}">first</a><!--/b-->
<!--b nav:firstRange:disabled-->first<!--/b-->
<!--b nav:previousRange--><a href="{{v nav:route/}}">prev</a><!--/b-->
<!--b nav:previousRange:disabled-->prev<!--/b-->
<!--b nav:absoluteRange--> <a href="{{v nav:route/}}"><!--v absoluteRangeText/--></a> <!--/b-->
<!--b nav:absoluteRange:disabled--> <!--v absoluteRangeText/--> <!--/b-->
<!--b nav:nextRange--><a href="{{v nav:route/}}">next</a><!--/b-->
<!--b nav:nextRange:disabled-->next<!--/b-->
<!--b nav:lastRange--><a href="{{v nav:route/}}">last</a><!--/b-->
<!--b nav:lastRange:disabled-->last<!--/b-->
<!--b content--><!--v offset/--> : Pages: <!--v nav:rangeCount/--> ( <!--v nav:firstRange/--> <!--v nav:previousRange/--> <!--v nav:nextRange/--> <!--v nav:lastRange/--> | <!--v nav:absoluteRanges/--> )<!--/b-->
