<!--v errors:*--><!--/v-->
<!--v errors:login--><!--/v-->
<!--v errors:anotherlogin--><!--/v-->
<!--v errors:login,anotherlogin--><!--/v-->
<!--v errors:anotherlogin,password--><!--/v-->
<!--v errors:anotherpassword,customquestion,anothercustomquestion--><!--/v-->
<!--v errors:customquestion,anothercustomquestion,options--><!--/v-->
<!--v errors:options--><!--/v-->
<!--v errors:colors--><!--/v-->
<!--v errors:otheroptions--><!--/v-->
<!--b errors:login,anotherlogin--><b><!--v errors/--></b><!--/b-->
<!--b errors:login--><div><!--v errors/--></div><!--/b-->
<!--b errors:anotherpassword,customquestion,anothercustomquestion,colors--><span><!--v errors/--></span><!--/b-->
<!--b errors:options--><i><!--v errors/--></i><!--/b-->
<!--b errors:*--><u><!--v errors/--></u><!--/b-->
<!--b errormessage:*--><p><!--v errormessage/--></p><!--/b-->
<!--b error:hidden-->error hidden<!--/b-->
<!--b wrongLength:anotherhidden-->wrong length another hidden<!--/b-->
<!--b mandatory:login-->mandatory login<!--/b-->
<!--b error:anotherlogin-->error another login<!--/b-->
<!--b error:password-->error password<!--/b-->
<!--b error:anotherpassword-->error another password<!--/b-->
<!--b mandatory:customquestion-->mandatory customquestion<!--/b-->
<!--b error:customquestion-->error customquestion<!--/b-->
<!--b mandatory:anothercustomquestion-->mandatory anothercustomquestion<!--/b-->
<!--b mandatory:otheroptions-->mandatory otheroptions<!--/b-->
<!--b error:othercustomoptions-->error othercustomoptions<!--/b-->
<!--b error:morecolors-->error morecolors<!--/b-->
