<!--v errors:*--><!--/v-->
<!--b errormessage:*--><!--v errormessage/--><br />
<!--/b-->
<!--b errormessage:login,customquestion,colors--><p><!--v errormessage/--></p>
<!--/b-->
<!--b errormessage:anotherlogin,colors--><div><!--v errormessage/--></div>
<!--/b-->
<!--b error:hidden-->error hidden<!--/b-->
<!--b wrongLength:anotherhidden-->wrong length another hidden<!--/b-->
<!--b mandatory:login-->mandatory login<!--/b-->
<!--b wrongLength:password-->wrong length password<!--/b-->
<!--b error:password-->error password<!--/b-->
<!--b error:anotherpassword-->error another password<!--/b-->
<!--b mandatory:customquestion-->mandatory customquestion<!--/b-->
<!--b error:customquestion-->error customquestion<!--/b-->
<!--b mandatory:anothercustomquestion-->mandatory anothercustomquestion<!--/b-->
<!--b mandatory:otheroptions-->mandatory otheroptions<!--/b-->
<!--b error:othercustomoptions-->error othercustomoptions<!--/b-->
<!--b invalid:colors-->invalid colors<!--/b-->
<!--b error:morecolors-->error morecolors<!--/b-->
<!--b mandatory:*-->this field is mandatory<!--/b-->
<!--b error:*-->this field is erroneous<!--/b-->
