<!--v errors:*--><!--/v-->
<!--b error:hidden-->error hidden<br />
<!--/b--><!--b wrongLength:anotherhidden-->wrong length another hidden<br />
<!--/b--><!--b mandatory:login-->mandatory login<br />
<!--/b--><!--b wrongLength:password-->wrong length password<br />
<!--/b--><!--b error:password-->error password<br />
<!--/b--><!--b error:anotherpassword-->error another password<br />
<!--/b--><!--b mandatory:customquestion-->mandatory customquestion<br />
<!--/b--><!--b error:customquestion-->error customquestion<br />
<!--/b--><!--b mandatory:anothercustomquestion-->mandatory anothercustomquestion<br />
<!--/b--><!--b mandatory:otheroptions-->mandatory otheroptions<br />
<!--/b--><!--b error:othercustomoptions-->error othercustomoptions<br />
<!--/b--><!--b invalid:colors-->invalid colors<br />
<!--/b--><!--b error:morecolors-->error morecolors<br />
<!--/b--><!--b mandatory:*-->this field is mandatory<br />
<!--/b--><!--b error:*-->this field is erroneous<br />
<!--/b-->
