Angela, &<>
<input type="checkbox" name="wantsupdates"> I want updates<br />
<input type="checkbox" name="colors" value="orange" checked="checked">orange<br />
<input type="checkbox" name="colors" value="blue">blue<br />
<input type="checkbox" name="colors" value="red" checked="checked">red<br />
<input type="radio" name="firstname"> Geert
<input type="radio" name="firstname" checked="checked"> Angela
<select name="lastname">
	<option value="Bevin">Bevin</option>
	<option value="Kramer">Kramer</option>
</select>
