<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All RIFE2 examples</title>
</head>
<body>

<h1>All RIFE2 Examples
</h1>
<p>All the examples are included in this site. These are their URLs:</p>

<h2>HelloAuthentication</h2>
<ul>
  <li>Open your browser at <a href="http://localhost:8080/authentication">http://localhost:8080/authentication</a></li>
  <li>The authentication credentials are: <code>testUser</code> / <code>testPassword</code></li>
</ul>

<h2>HelloContinuations</h2>
<ul>
  <li>Open your browser at <a href="http://localhost:8080/guess">http://localhost:8080/guess</a></li>
</ul>

<h2>HelloCounterContinuations</h2>
<ul>
  <li>Open your browser at <a href="http://localhost:8080/count">http://localhost:8080/count</a></li>
</ul>

<h2>HelloDatabase</h2>
<ul>
  <li>Install the database at <a href="http://localhost:8080/install">http://localhost:8080/install</a></li>
  <li>Then add names by going to <a href="http://localhost:8080/add">http://localhost:8080/add</a></li>
  <li>When you're done, delete the database through <a href="http://localhost:8080/remove">http://localhost:8080/remove</a></li>
</ul>

<h2>HelloErrors</h2>
<ul>
  <li>Trigger and exception at <a href="http://localhost:8080/error">http://localhost:8080/error</a></li>
  <li>Try any other URL that doesn't exit, ie. <a href="http://localhost:8080/treasure">http://localhost:8080/treasure</a></li>
</ul>

<h2>HelloForm</h2>
<ul>
  <li>Open your browser at <a href="http://localhost:8080/form">http://localhost:8080/form</a></li>
</ul>

<h2>HelloFormContinuations</h2>
<ul>
  <li>Open your browser at <a href="http://localhost:8080/continuation/form">http://localhost:8080/continuation/form</a></li>
</ul>

<h2>HelloGenericQueryManager</h2>
<ul>
  <li>Install the database at <a href="http://localhost:8080/generic/install">http://localhost:8080/generic/install</a></li>
  <li>Then add names by going to <a href="http://localhost:8080/generic/add">http://localhost:8080/generic/add</a></li>
  <li>Delete the database through <a href="http://localhost:8080/generic/remove">http://localhost:8080/generic/remove</a></li>
</ul>

<h2>HelloGroup</h2>
<ul>
  <li>Open your browser at <a href="http://localhost:8080/welcome">http://localhost:8080/welcome</a></li>
  <li>Also at <a href="http://localhost:8080/group/hello">http://localhost:8080/group/hello</a></li>
  <li>And at <a href="http://localhost:8080/group/bonjour">http://localhost:8080/group/bonjour</a></li>
</ul>

<h2>HelloLink</h2>
<ul>
  <li>Open your browser at <a href="http://localhost:8080/link">http://localhost:8080/link</a></li>
</ul>

<h2>HelloPathInfoMapping</h2>
<ul>
  <li>Open your browser at <a href="http://localhost:8080/mapping/John">http://localhost:8080/mapping/John</a></li>
  <li>Or <a href="http://localhost:8080/mapping/John/Smith">http://localhost:8080/mapping/John/Smith</a></li>
  <li>Or another other matching path info</li>
</ul>

<h2>HelloSvg</h2>
<ul>
  <li>Open your browser at <a href="http://localhost:8080/clock">http://localhost:8080/clock</a></li>
</ul>

<h2>HelloTemplate</h2>
<ul>
  <li>Open your browser at <a href="http://localhost:8080/template">http://localhost:8080/template</a></li>
</ul>

<h2>HelloValidation</h2>
<ul>
  <li>Install the database at <a href="http://localhost:8080/validation/install">http://localhost:8080/validation/install</a></li>
  <li>Then add names by going to <a href="http://localhost:8080/validation/add">http://localhost:8080/validation/add</a></li>
  <li>Delete the database through <a href="http://localhost:8080/validation/remove">http://localhost:8080/validation/remove</a></li>
</ul>

<h2>HelloWorld</h2>
<ul>
  <li>Open your browser at <a href="http://localhost:8080/hello">http://localhost:8080/hello</a></li>
</ul>

</body>
</html>