<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All RIFE2 examples</title>
</head>
<body>

<h1>All RIFE2 Examples
</h1>
<p>All the examples are included in this site. These are their URLs:</p>

<h2>HelloAuthentication</h2>
<ul>
  <li>Open your browser at <a href="{{v route:authentication.landing/}}">{{v route:authentication.landing/}}</a></li>
  <li>The authentication credentials are: <code>testUser</code> / <code>testPassword</code></li>
</ul>

<h2>HelloContentManagement</h2>
<ul>
  <li>Install the database at <a href="{{v route:cmf.install/}}">{{v route:cmf.install/}}</a></li>
  <li>Then add a news item by going to <a href="{{v route:cmf.add/}}">{{v route:cmf.add/}}</a></li>
  <li>Delete the database through h<a href="{{v route:cmf.remove/}}">{{v route:cmf.remove/}}</a></li>
</ul>

<h2>HelloContinuations</h2>
<ul>
  <li>Open your browser at <a href="{{v route:/}}guess">{{v route:/}}guess</a></li>
</ul>

<h2>HelloCounterContinuations</h2>
<ul>
  <li>Open your browser at <a href="{{v route:/}}count">{{v route:/}}count</a></li>
</ul>

<h2>HelloDatabase</h2>
<ul>
  <li>Install the database at <a href="{{v route:/}}install">{{v route:/}}install</a></li>
  <li>Then add names by going to <a href="{{v route:/}}add">{{v route:/}}add</a></li>
  <li>When you're done, delete the database through <a href="{{v route:/}}remove">{{v route:/}}remove</a></li>
</ul>

<h2>HelloErrors</h2>
<ul>
  <li>Trigger and exception at <a href="{{v route:/}}error">{{v route:/}}error</a></li>
  <li>Try any other URL that doesn't exit, ie. <a href="{{v route:/}}treasure">{{v route:/}}treasure</a></li>
</ul>

<h2>HelloForm</h2>
<ul>
  <li>Open your browser at <a href="{{v route:/}}form">{{v route:/}}form</a></li>
</ul>

<h2>HelloFormGeneration</h2>
<ul>
  <li>Open your browser at <a href="{{v route:generation.form/}}">{{v route:generation.form/}}</a></li>
</ul>

<h2>HelloFormContinuations</h2>
<ul>
  <li>Open your browser at <a href="{{v route:continuations.form/}}">{{v route:continuations.form/}}</a></li>
</ul>

<h2>HelloGenericQueryManager</h2>
<ul>
  <li>Install the database at <a href="{{v route:gqm.install/}}">{{v route:gqm.install/}}</a></li>
  <li>Then add names by going to <a href="{{v route:gqm.add/}}">{{v route:gqm.add/}}</a></li>
  <li>Delete the database through <a href="{{v route:gqm.remove/}}">{{v route:gqm.remove/}}</a></li>
</ul>

<h2>HelloGroup</h2>
<ul>
  <li>Open your browser at <a href="{{v route:group.welcome/}}">{{v route:/}}welcome</a></li>
  <li>Also at <a href="{{v route:/}}group/hello">{{v route:/}}group/hello</a></li>
  <li>And at <a href="{{v route:/}}group/bonjour">{{v route:/}}group/bonjour</a></li>
</ul>

<h2>HelloLink</h2>
<ul>
  <li>Open your browser at <a href="{{v route:/}}link">{{v route:/}}link</a></li>
</ul>

<h2>HelloPathInfoMapping</h2>
<ul>
  <li>Open your browser at <a href="{{v route:/}}mapping/John">{{v route:/}}mapping/John</a></li>
  <li>Or <a href="{{v route:/}}mapping/John/Smith">{{v route:/}}mapping/John/Smith</a></li>
  <li>Or another other matching path info</li>
</ul>

<h2>HelloResources</h2>
<ul>
  <li>Open your browser at <a href="{{v route:resources.hello/}}">{{v route:resources.hello/}}</a></li>
</ul>

<h2>HelloScheduler</h2>
<ul>
  <li>Install database at <a href="{{v route:/}}scheduler/install">{{v route:/}}scheduler/install</a></li>
  <li>Add tasks by going to <a href="{{v route:/}}scheduler/add">{{v route:/}}scheduler/add</a></li>
  <li>Start scheduler by going to <a href="{{v route:/}}scheduler/start">{{v route:/}}scheduler/start</a></li>
  <li>View status by going to <a href="{{v route:/}}scheduler/status">{{v route:/}}scheduler/status</a></li>
  <li>Stop scheduler by going to <a href="{{v route:/}}scheduler/stop">{{v route:/}}scheduler/stop</a></li>
  <li>Delete the database through <a href="{{v route:/}}scheduler/remove">{{v route:/}}scheduler/remove</a></li>
</ul>

<h2>HelloSvg</h2>
<ul>
  <li>Open your browser at <a href="{{v route:/}}clock">{{v route:/}}clock</a></li>
</ul>

<h2>HelloTemplate</h2>
<ul>
  <li>Open your browser at <a href="{{v route:/}}template">{{v route:/}}template</a></li>
</ul>

<h2>HelloValidation</h2>
<ul>
  <li>Install the database at <a href="{{v route:/}}validation/install">{{v route:/}}validation/install</a></li>
  <li>Then add names by going to <a href="{{v route:/}}validation/add">{{v route:/}}validation/add</a></li>
  <li>Delete the database through <a href="{{v route:/}}validation/remove">{{v route:/}}validation/remove</a></li>
</ul>

<h2>HelloWorld</h2>
<ul>
  <li>Open your browser at <a href="{{v route:/}}hello">{{v route:/}}hello</a></li>
</ul>

</body>
</html>