<html lang="en">
<head>
<!--i common/-->
<!--bv title-->Hello Content Management<!--/bv-->
</head>
<body>

<!--v content/-->
<!--b form-->
  <!--v errors:*--><!--/v-->
  <!--b errormessage:*--><!--v errormessage/--><br><!--/b-->
  <form action="{{v route:action:/}}" method="post" enctype="multipart/form-data" name="news">
    <!--v route:inputs:/-->
    <label>Title<br><!--v form:input:title-->size="50"<!--/v--></label><br>
    <label>Text<br><!--v form:textarea:text-->cols="50" rows="10"<!--/v--></label><br>
    <label>Image<br><input type="file" name="newsImage" /></label><br>
    <input type="submit" name="Submit" />
  </form>
<!--/b-->
<!--b display-->
  <h2>Title</h2>
  <p><!--v title/--></p>
  <h2>Text</h2>
  <p><!--v text/--></p>
  <h2>Image</h2>
  <div><!--v imageSmall/--></div>
  <div><!--v imageMedium/--></div>
<!--/b-->
<!--b list--><p><a href="{{v route:list/}}">List entries</a></p><!--/b-->
<!--b add--><p><a href="{{v route:add/}}">Add more</a></p><!--/b-->
<!--b spacer--><hr><!--/b-->

</body>
</html>